MajorityVote/MajorityVote_CPP/.vs/MajorityVote_CPP/FileContentIndex/9eb19f24-0d2d-41e9-8580-ec322f890b27.vsidx
MajorityVote/MajorityVote_CPP/.vs/MajorityVote_CPP/FileContentIndex/ce6a790e-6cba-4cc7-9d49-b23e72d710a6.vsidx
MajorityVote/MajorityVote_CPP/.vs/MajorityVote_CPP/FileContentIndex/read.lock
MajorityVote/MajorityVote_CPP/.vs/MajorityVote_CPP/v17/Browse.VC.db
MajorityVote/MajorityVote_CPP/.vs/MajorityVote_CPP/v17/Browse.VC.db-shm
MajorityVote/MajorityVote_CPP/.vs/MajorityVote_CPP/v17/Browse.VC.db-wal
MajorityVote/MajorityVote_CPP/.vs/MajorityVote_CPP/v17/Browse.VC.opendb
MajorityVote/MajorityVote_CPP/.vs/MajorityVote_CPP/v17/ipch/AutoPCH/334dcb8bb370c0ff/MAJORITYVOTE_CPP.ipch
MajorityVote/MajorityVote_CS/.vs/MajorityVote_CS/FileContentIndex/6bc446e0-4c32-4ec8-81f7-bb038155c38d.vsidx
MajorityVote/MajorityVote_CS/.vs/MajorityVote_CS/FileContentIndex/6f981acf-4165-4a8e-ba26-0c31ed08825a.vsidx
MajorityVote/MajorityVote_CS/.vs/MajorityVote_CS/FileContentIndex/a4e5ad49-fc56-4cb5-b89f-9cbba3f5df87.vsidx
MajorityVote/MajorityVote_CS/.vs/MajorityVote_CS/FileContentIndex/read.lock
